<div class="p-10 issue-loader-container">
    <app-simple-loader [width]="940" [height]="50"></app-simple-loader>
    <app-simple-loader [width]="800" [height]="50" class="mt-4"></app-simple-loader>
    <app-simple-loader [width]="600" [height]="30" class="mt-6"></app-simple-loader>
    <app-simple-loader [width]="700" [height]="30" class="mt-3"></app-simple-loader>
    <app-simple-loader [width]="500" [height]="30" class="mt-3"></app-simple-loader>
    
    <div class="flex mt-8">
        <div class="w-2/3 pr-4">
            <app-simple-loader [width]="500" [height]="30"></app-simple-loader>
            <div class="flex items-center mt-4">
                <div class="circle-loader"></div>
                <app-simple-loader [width]="400" [height]="42" class="ml-4"></app-simple-loader>
            </div>
        </div>
        <div class="w-1/3">
            <app-simple-loader [width]="135" [height]="14"></app-simple-loader>
            <app-simple-loader [width]="251" [height]="24" class="mt-3"></app-simple-loader>
            <app-simple-loader [width]="135" [height]="14" class="mt-6"></app-simple-loader>
            <app-simple-loader [width]="251" [height]="24" class="mt-3"></app-simple-loader>
            <app-simple-loader [width]="135" [height]="14" class="mt-6"></app-simple-loader>
            <app-simple-loader [width]="251" [height]="24" class="mt-3"></app-simple-loader>
        </div>
    </div>
</div>
