spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.jiraclone: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG

seed:
  data:
    enabled: true
