spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    root: WARN
    com.jiraclone: INFO
    org.hibernate.SQL: WARN
    org.springframework.security: WARN
